{% extends 'tour/layouts/main.html' %}

{% block title %}Event list {% endblock title %}

{% block content %}
{% load static %}
<div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-12">
        <h1>About Us</h1>
        <hr>
        <p>We are a team of experienced event management professionals who are dedicated to creating and managing successful events for our clients. Our team includes event planners, managers, coordinators, and support staff who are committed to providing exceptional services to our clients.</p>
        <p>At our core, we believe that every event should be unique and tailored to the needs of our clients. We work closely with our clients to understand their goals, preferences, and budget, and we use our expertise to plan and execute events that exceed their expectations.</p>
        <p>Our services include organizing and managing events such as weddings, business meetings, conferences, competitive or non-competitive sport and recreation events, courses, promotional events, celebration dinners, fundraisers, and more. We have experience working with clients from various industries and backgrounds, and we are confident in our ability to create and manage successful events.</p>
        <p>Our team is passionate about event management and takes pride in every event we plan and execute. We are constantly exploring new ideas and trends to ensure that our events are innovative and exciting.</p>
        <p>Here are some examples of the successful events we have organized:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Weddings</h4>
        <p>We have organized and managed many successful weddings for our clients. We work closely with our clients to create a wedding that is unique to their style and preferences. Our team ensures that every detail is taken care of, from the venue and decorations to the catering and entertainment.</p>
      </div>
      <div class="col-md-4">
        <h4>Business Meetings</h4>
        <p>We have experience organizing and managing successful business meetings for our clients. We understand the importance of a well-planned and executed business meeting, and we work closely with our clients to ensure that their meeting is a success. Our team takes care of everything, from the venue and technology to the catering and accommodations.</p>
      </div>
      <div class="col-md-4">
        <h4>Sport Events</h4>
        <p>We have organized and managed many successful sport events for our clients. Whether it's a competitive or non-competitive event, our team ensures that every detail is taken care of, from the venue and equipment to the catering and entertainment. We work closely with our clients to create an event that is fun, exciting, and memorable for everyone.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Promotional Events</h4>
        <p>We have experience organizing and managing successful promotional events for our clients. We understand the importance of a well-planned and executed promotional event, and we work closelywith our clients to ensure that their event is a success. Our team takes care of everything, from the venue and decorations to the catering and promotions. We work closely with our clients to create an event that is unique and tailored to their brand and message.</p>
    </div>
    <div class="col-md-4">
    <h4>Fundraisers</h4>
    <p>We have organized and managed many successful fundraisers for our clients. We understand the importance of a well-planned and executed fundraiser, and we work closely with our clients to ensure that their event is a success. Our team takes care of everything, from the venue and decorations to the catering and fundraising activities. We work closely with our clients to create an event that is engaging and motivates attendees to donate to the cause.</p>
    </div>
    <div class="col-md-4">
    <h4>Conferences</h4>
    <p>We have experience organizing and managing successful conferences for our clients. We understand the importance of a well-planned and executed conference, and we work closely with our clients to ensure that their conference is a success. Our team takes care of everything, from the venue and technology to the catering and accommodations. We work closely with our clients to create a conference that is informative, engaging, and memorable for attendees.</p>
    </div>
    
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>If you are looking for a team of experienced event management professionals to plan and execute your event, we would love to hear from you. Contact us today to discuss your event and how we can help make it a success.</p>
        </div>
      </div>
    </div>  
{% endblock content %}