{% extends 'tour/layouts/main.html' %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center mb-4">Thank you for contacting us!</h1>
                    <p>We have received your message and will respond to you as soon as possible.</p>
                    <p>In the meantime, you may want to check out some of our popular events:</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-info text-white">Weddings</li>
                        <li class="list-group-item bg-warning text-white">Business Meetings</li>
                        <li class="list-group-item bg-success text-white">Conferences</li>
                        <li class="list-group-item bg-danger text-white">Sport and Recreation Events</li>
                        <li class="list-group-item bg-primary text-white">Courses</li>
                        <li class="list-group-item bg-secondary text-white">Promotional Events</li>
                        <li class="list-group-item bg-dark text-white">Celebration Dinners</li>
                        <li class="list-group-item bg-info text-white">Fundraisers</li>
                    </ul>
                    <p class="mt-4">Thank you again for considering us for your event needs. We look forward to working with you!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
